<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.stateverge.davinci.inventory.night</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/ziweizhang/StateVerge/.venv_audio/bin/python3</string>
		<string>-m</string>
		<string>davinci_production_agent.idle_scheduler</string>
		<string>--run</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>/Users/ziweizhang/StateVerge/scripts</string>
		<key>STATEVERGE_ROOT</key>
		<string>/Users/ziweizhang/StateVerge</string>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/ziweizhang/StateVerge</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/Volumes/SV_CACHE/logs/davinci_inventory_night.log</string>
	<key>StandardErrorPath</key>
	<string>/Volumes/SV_CACHE/logs/davinci_inventory_night.err.log</string>
</dict>
</plist>
